* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
}



.button {
  cursor: pointer ;
  padding: 10px 20px;
  border: 1px solid green !important;
  border-radius: 5px;
  background: green !important;
  color: white !important;
  transition: 0.4s;
}

.button:hover {
  background: white !important;
  color: green !important;
  border-color: green !important;
}

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}
